
/*
Colors used:
Text Color: #4D4D4D
Background Color: #F5F5F5
White: #FFFFFF
*/
* {
  box-sizing: border-box;
}

body {
  background-color: #fdf7ed;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #143a52;
}

body.index {
  background-color: #fdf7ed;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #143a52;
}

h1,
h2,
h3 {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.3;
}

h1 {
  font-size: 2.55em;
  font-weight: 600;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3  {
  font-size: 1.75em;
  font-weight: 400;
  margin-top: -8px;
}

h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}

img {
  width: 100%;
}

a {
  color: #1067b3;
  text-decoration: none;
}

a:visited {
  color: #230047;
}

a:hover,
  a:focus {
    color: #af8386;
    text-decoration: none;
  }

 /*style the current nav item green*/
 .active a {
  color: #af8386;
  text-decoration: underline;
}

a:active { /* selected link */
  color: #af8386;
}

/*CSS code for the button class*/
.button {
  display: inline-block;
  background-color: rgba(102, 173, 184, 0.7);
  color: #393939;
  -webkit-text-fill-color: #393939;
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 2px 2px 8px rgba(77, 77, 77, 0.25);
  transition: 0.2s;
}

.button:hover {
  background-color: rgba(102, 173, 184, 0.6);
  color: #393939;
  text-decoration: none;
}

.button:active {
  background-color: rgba(102, 173, 184, 0.6);
  color: #393939;
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  text-transform: uppercase;
  border: 2px solid rgba(102, 173, 184, 0.8);
  box-shadow: none;
  margin-bottom: 25px;
  padding-left: 30px;
  padding-right: 30px;
}

 /*button class hover and active state*/
  
 .button.contact:hover {
  opacity: 0.8;
  background-color: #143a52;
  color: #ffffff;
}

.button.contact:active {
  opacity: 0.8;
  background-color: #143a52;
  color: #ffffff;
}

.heading .button {
  margin-bottom: 25px;
}


header {
  background-color: #af8386;
  padding: 10px 0 4px;
  box-shadow: 5px 5px 11px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 5px 5px 11px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 5px 5px 11px rgba(0, 0, 0, 0.15);
  position: fixed;
  width: 100%;
  z-index: 1000;
}

header.index {
  background-color: #874c2d;
}
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 40px; /* Place the button at the bottom of the page */
  right: 40px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #A2CAD0;
  color: #393939;
  -webkit-text-fill-color: #393939;
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px 25px;
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  box-shadow: 2px 2px 8px rgba(77, 77, 77, 0.50);
}

#myBtn:hover {
  background-color: rgba(102, 173, 184, 0.6); 
}

/* Layout styling */
.skills {
  display: flex;
  flex-direction: column;
}

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1.5px solid rgba(77, 77, 77, 0.3);
}

#about.row {
  padding-bottom: 25px;
  border-bottom: 1.5px solid rgba(77, 77, 77, 0.3);
}

#mentr .row {
  padding-bottom: 25px;
}

.center {
  text-align: center;
}

.logo {
  max-width: 125px;
}

.social {
  max-width: 36px;
}

.aboutme {
  max-width: 345px;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 500;
  color: #4d4d4d;
}

nav > ul > li > a:visited {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 500;
  color: #4d4d4d;
}

nav > ul > li > a:hover {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 500;
  color: rgba(77, 77, 77, 0.8);
}

nav > ul > li > a:active {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 500;
  color: rgba(77, 77, 77, 0.8);
}

#hero {
  background-color: #f7e5cf;
  text-align: center;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#hero span {
  display: block;
}

main {
  padding-top: 125.75px;
}

#contact {
  text-align: center;
}

/*Style the social icons*/
.social {
  list-style-type: none;
  padding: 0;
  margin-left: -10px;
}

.social li {
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
}


#about-page h3 { margin-top: 0;
}

.resume {
  margin-bottom: 50px;
}

.affinity {
  margin-bottom: 55px;
}
.break {
  margin-bottom: 55px;
}
.list {
  margin-top: -10px;
}

.listitem {
  margin-top: -10px;
}
.process-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.step {
  display: flex;
  flex-direction: column;
  width: 100px;
  align-items: center;
  text-align: center;
  margin: 0 10px;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 40px;
  height: 40px;
  border: 1px solid #4d4d4d;
  color: #4d4d4d;
  border-radius: 50%;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
  transition: background-color 0.2s;
}

[class*="p"] {
  flex: 33%
}

.circle:hover {
  background-color:#4d4d4d;
  color: white;
}

video {
  max-width: 100%;
  height: auto;
}

div > div > a.step {
  text-transform: uppercase;
  color: #4d4d4d;
}

div > div > a.step:visited {
  text-transform: uppercase;
  color: #4d4d4d;
}

div > div > a.step:hover {
  text-transform: uppercase;
  color: rgba(77, 77, 77, 0.8);
  text-decoration: none;
}

div > div > a.step:active {
  text-transform: uppercase;
  color: rgba(77, 77, 77, 0.8);
}

.navtoggle li:not(:last-child) {
  display: none;
}
.navtoggle, .navtoggle.responsive {
  position: relative;
}
.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 40px;
  font-size: 20px;
  padding-right: 0;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgb(175, 175, 175, 0);
}
.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 30rem;
  max-width: 100%;
  gap: 1rem;
}

input,
textarea {
  padding: 1rem;
  background: transparent;
  border: 1px solid #393939;
  resize: vertical;
}
.button.contact[type="submit"] {
  width: auto;
  max-width: 50%;
  margin: 0 auto;
}



/* Medium devices (640px and larger) */

@media only screen and (min-width: 641px) {
  header {
    text-align: unset;
  }
  nav {
    width: auto;
    float: right;
    margin-top: 23px;
  }
  nav > ul {
    margin: 1em 0;
  }
  nav > ul > li {
    display: inline-block;
  }
  .navtoggle li:not(:last-child) {
    display: inline-block;
  }
  .navtoggle li:last-child {
    display: none;
  }
  main {
    padding-top: 132px;
  }
.col-md-6 {
  width: 50%;
}

.col-md-5 {
  width: 41.66%;
}

.col-md-7 {
  width: 58.33%;
}

[class*="col-"] {
  float: left;
  padding: 10px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

#about h3 {
  margin-top: 0;
}
.relev-skills {
  margin-left: 55px;
  margin-right: 30px;
}

.tools {
  margin-right: 75px;
  padding-left: 100px
}
.skills {
  flex-direction: row;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.flex-container > div {
  flex: 1;
  max-width: 300px;
  margin: 15px;
}

[class*="p"] {
  flex: 16.66%
}
form {
  width: 34rem;
}
}

/* Large devices 1024px or larger) */

@media only screen and (min-width: 1024px) {
  .skills {
    flex-direction: row;
  }
  .col-lg-5 h2,
  .col-lg-7 h2 {
    text-align: left;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-6 {
    width: 50%;
  }

  .col-lg-5 {
    width: 41.66%;
  }
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  .relev-skills {
    margin-left: 75px;
    margin-right: 30px;
  }
  
  .tools {
    margin-right: 75px;
    margin-left: 55px;
  }

  .listitem {
    margin-bottom: 175px;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }

  .flex-container > div {
    flex: 1;
    max-width: 300px;
    margin: 15px;
  }

  .process-list {
    flex-wrap: nowrap;
    display: flex;
    justify-content: center;
  }

  .step-container {
    position: relative;
    flex: 1;
    text-align: center;
  }
  
  .step-container:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 20px;
    left: 75%;                      
    width: calc(100% - 75px);          
    height: 1px;          
    background: #4d4d4d;
    transform: translateY(-50%);
  }
  form {
    width: 34rem;
  }
  
}

/* X-large devices (1440px or larger) */

@media only screen and (min-width: 1440px) {
    
}

@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}
.sun {
  animation: 4s color-change infinite alternate linear;
}
@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}
.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}
@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px,48px);}
}
.cloud-back {
  animation: 30s cloud-move-reverse infinite alternate linear;
}

.navigation a {
  position: relative;
  display: inline-block;
  line-height: 0.25px;
  text-decoration: none; 
}

.navigation a:before,
.navigation a:after {
  content: '';
  position: absolute;
  opacity: 0;
  font-size: 20px;
  top: 0;
  transition: all 0.3s;
}

.navigation a:before {
  content: '(';
  left: 0;
  transform: translateX(10px);
}

.navigation a:after {
  content: ')';
  right: 0;
  transform: translateX(-10px);
}

.navigation a:hover:before,
.navigation a:hover:after {
  opacity: 1;
  transform: translateX(0);
}

.navigation a.icon:before,
.navigation a.icon:after {
  content: none;
}

.navigation a.icon:hover:before,
.navigation a.icon:hover:after {
  opacity: 0;
  transform: none;
}
